@using System.Security.Claims
@model WebHM.Models.DonHang

@{
    ViewData["Title"] = "Create";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Seller"))
    {
        Layout = "~/Views/Shared/_SellerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>Tạo mới</h1>

<h4>Đơn hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole("Admin"))
            {
                
            <div class="form-group">
                <label asp-for="KhachHangId" class="control-label"></label>
                <select asp-for="KhachHangId" class ="form-control" asp-items="ViewBag.KhachHangId"></select>
                </div>
            }
            else
            {
                <div class="form-group">
                    <input asp-for="KhachHangId" class="form-control" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" hidden />
                </div>
            }
            <div class="form-group">
                <label asp-for="NguoiNhan" class="control-label">Người nhận hàng</label>
                <input asp-for="NguoiNhan" class="form-control" />
                <span asp-validation-for="NguoiNhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiGiaoHang" class="control-label">Địa chỉ giao hàng</label>
                <input asp-for="DiaChiGiaoHang" class="form-control" />
                <span asp-validation-for="DiaChiGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoaiGiaoHang" class="control-label">Số điện thoại nhận hàng</label>
                <input asp-for="SoDienThoaiGiaoHang" class="form-control" />
                <span asp-validation-for="SoDienThoaiGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDatHang" class="control-label">Ngày đặt hàng</label>
                <input asp-for="NgayDatHang" class="form-control" />
                <span asp-validation-for="NgayDatHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label">Tổng tiền đơn hàng</label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                <select asp-for="TrangThai" class="form-control">
                    <option value="Đã giao" >Đã giao</option>
                    <option value="Đã thanh toán">Đã thanh toán</option>
                    <option value="Đã xác nhận">Đã xác nhận</option>
                    <option value="Hủy" >Hủy</option>
                    <option value="Chờ xử lý">Chờ xử lý</option>
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label">OrderId</label>
                <input asp-for="OrderId" type="text" value="@Guid.NewGuid()" hidden/>
                <span asp-validation-for="OrderId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
