@model WebHM.Models.ThanhToan

@{
    ViewData["Title"] = "Create";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>Create</h1>

<h4>ThanhToan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDonHang" class="control-label"></label>
                <select asp-for="MaDonHang" class ="form-control" asp-items="ViewBag.MaDonHang"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoTien" class="control-label"></label>
                <input asp-for="SoTien" class="form-control" />
                <span asp-validation-for="SoTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThanhToan" class="control-label"></label>
                <input asp-for="NgayThanhToan" class="form-control" />
                <span asp-validation-for="NgayThanhToan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhuongThuc" class="control-label"></label>
                <input asp-for="PhuongThuc" class="form-control" />
                <span asp-validation-for="PhuongThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
